{% extends '_base.html' %}

{% block content %}

<table>
    <thead>
        <tr>
            <th>ID</th>
        </tr>
    </thead>
    <tbody>

        {% for profile in profiles %}

        <tr>
            <td>#{{profile.id}}</td>
            <td>
                <a href="/user/profile/delete/{{profile.id}}">
                    Delete
                </a>
            </td>

        </tr>

        {% endfor %}

    </tbody>
</table>


<a href="/profile/create/">Create</a>

{% endblock content %}