{% for post in posts %}

    {% include 'post/partials/posts.html' %}

{% empty %}
    
    <div class="card text-center p-5">
        <i class="fas fa-inbox fa-2x mb-3"></i>
        <p class="mb-0 text-content">No one has posted yet, be the first!</p>
    </div>

{% endfor %}

<a href="/community/{{ community.id }}/post/" class="btn btn-light d-flex justify-content-center align-items-center font-weight-bold border my-3">
    <i class="fas fa-fw fa-plus text-tertiary mb-0"></i><p class="ml-2 text-tertiary mb-0">Add post</p>
</a>