<div class="dropdown ml-2">
    <a 
        href="" 
        class="btn d-flex align-items-center justify-content-center rounded-circle p-0 button-small-circle abrir-denuncia" 
        data-url="{% url 'denuncia:criar_denuncia' app_label='communities' model_name='community' object_id=community.id %}" 
        data-object-id="{{ community.id }}">

        <i class="fas fa-flag fa-sm fa-fw text-dark"></i>
    </a>

    <div class="dropdown-menu dropdown-menu-right form-denuncia p-3 animated--grow-in" id="form-denuncia-{{ community.id }}" style="min-width: 300px; display: none;">
        <div class="text-center text-muted">Loading...</div>
    </div>
</div>