{% extends '_base.html' %}

{% block content %}

{% load static %}

<div class="container" style="position: relative;">
    <div class="row">

        <div class="col-8" >
            <div class="d-flex align-items-center">
                <button type="button" class="btn btn-light d-flex align-items-center justify-content-center border rounded-pill mr-2" style="font-size: 14px;">
                    <i class="fas fa-fw fa-sort-amount-up"></i>
                        
                    <p class="mb-0 ml-2">Filter</p>
                </button>

                <button type="button" class="btn btn-light d-flex align-items-center justify-content-center border rounded-pill" style="font-size: 14px;">
                    <i class="fas fa-fw fa-plus-circle"></i>
                        
                    <p class="mb-0 ml-2">Add post</p>
                </button>
            </div>

            {% for post in posts %}

                <hr>

                {% include "post/posts.html" with comment=comment %}

            {% endfor %}

        </div>

        <div class="col-4">
            <div class="mb-3">
                <p class="font-weight-bold mb-2" style="font-size: 14px;">COMMUNITIES TO JOIN:</p>

                {% for community in communities %}

                    {% if community.id not in community_ids %}

                        {% if user.id != community.creator.id %}

                            {% include 'community/info.html' %}

                        {% endif %}

                    {% endif %}

                {% endfor %}

            </div>

            <div class="mb-3">
                <p class="font-weight-bold mb-2" style="font-size: 14px;">USERS TO FOLLOW:</p>
                
                {% for person in users %}

                    {% if person.id not in following_ids %}

                        {% if user.id != person.id %}

                            {% include 'user/profiles.html' %}

                        {% endif %}
                        
                    {% endif %}

                {% endfor %}

            </div>
        </div>
    </div>
</div>

{% endblock content %}