{% load static %}

{% if community.creator.id == user.id %}

    <a class="btn button-magenta d-flex align-items-center justify-content-center rounded button-small-square rounded-pill px-3" href="/community/{{ community.name }}/edit/">
        <p class="mb-0 text-content text-tertiary font-weight-bold">Manage community</p>
    </a>

{% else %}

    {% include 'buttons/join.html' %}

{% endif %}

<a href="/community/{{ community.name }}/post/" class="btn button-white d-flex align-items-center justify-content-center rounded button-small-square rounded-pill px-3 ml-2">
    <span class="text-tertiary font-weight-bold mb-0">Make a post!</span>
</a>