{% load static %}

<div>
    <div class="comment">
        <div class="d-flex mt-2">
            <img 
                src="{% if comment.author.profile.profile_picture %}{{ comment.author.profile.profile_picture.url }}{% else %}{% static 'img/gradient-03.jpg' %}{% endif %}" 
                class="rounded-circle circle-picture">

            <div class="ml-3 flex-grow-1">
                <div class="d-flex align-items-center">
                    <p class="font-weight-bold mb-0 text-subtitle">
                        <a href="/user/profile/{{ comment.author.username }}" class="text-decoration-none link-lilac">
                            {{ comment.author.profile.display_name }}
                        </a>
                        <span class="text-blurred text-tertiary font-weight-normal"> ∙ {{ comment.posted|timesince }}</span>
                    </p>
                </div>

                <p class="my-2 text-white text-justify text-content">

                    {% if comment.parent %}

                        <a href="/user/profile/{{ comment.parent.author.username }}" class="text-decoration-none link-lilac">
                            @{{ comment.parent.author.username }}
                        </a>

                    {% endif %}

                    {{ comment.content }}

                </p>

                {% include 'comment/actions/options.html' %}

            </div>
        </div>

        {% if comment.replies.exists %}

            <div id="replies-{{ comment.id }}" class="ml-3 d-none">

                {% for reply in comment.replies.all %}

                    {% include "post/partials/comments.html" with comment=reply %}

                {% endfor %}

            </div>

        {% endif %}
        
    </div>
</div>
