{% load static %}

<div class="card p-3 mb-2 border-0 shadow-sm clickable">
    <p class="mb-2 text-tertiary">commented on <a class="text-decoration-none font-weight-bold" href="/post/{{comment.post.id}}">{{comment.post.title}}</a></p>
    <div class="d-flex">
        
        <img 
            src="{% if comment.author.profile.profile_picture %} {{ comment.author.profile.profile_picture.url }} {% else %} {% static 'img/gradient-02.jpg' %} {% endif %}" 
            class="rounded-circle border circle-picture">

        <div class="ml-3 flex-grow-1">
            <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                    <p class="font-weight-bold mb-0 text-content">
                        <a href="/user/profile/{{ comment.author.profile.id }}" class="text-decoration-none text-secondary">
                            {{ comment.author.profile.display_name }}
                        </a>
                    </p>

                    <p class="mb-0 text-muted ml-1 text-content">
                        ∙ {{ comment.posted|date:"M d, Y" }}{% if comment.edited != comment.posted %}<span class="ml-1 text-tertiary">(edited)</span>{% endif %}
                    </p>
                </div>

                <div>
                    <button type="button" class="btn d-flex align-items-center justify-content-center rounded-circle p-0 button-small-circle">
                        <i class="fas fa-fw fa-ellipsis-v text-dark text-tertiary"></i>
                    </button>
                </div>
            </div>

            <p class="mb-2 text-dark text-content">
                {% if comment.parent.parent %} 

                    <a href="/user/profile/{{ comment.parent.author.profile.id }}" class="text-decoration-none">
                        @{{ comment.parent.author.username }}
                    </a> 

                {% endif %} 

                {{ comment.content }}
            </p>
        </div>
    </div>
</div>