<div class="dropdown ml-2">
    <a 
        href="" 
        class="btn btn-light d-flex align-items-center justify-content-center border rounded button-medium abrir-denuncia" 
        data-url="{% url 'denuncia:criar_denuncia' app_label='comments' model_name='comment' object_id=comment.id %}" 
        data-object-id="{{ comment.id }}">

        <i class="fas fa-flag fa-sm fa-fw text-dark"></i>
    </a>

    <div class="dropdown-menu dropdown-menu-right form-denuncia p-3 animated--grow-in" id="form-denuncia-{{ comment.id }}" style="min-width: 300px; display: none;">
        <div class="text-center text-muted">Loading...</div>
    </div>
</div>