{% load static %}

<div class="dropdown">
    <a class="btn d-flex align-items-center justify-content-center rounded-circle p-0 button-small-circle" href="#" role="button" id="postOptions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-fw fa-ellipsis-v text-dark text-tertiary"></i>
    </a>

    <div class="dropdown-menu dropdown-menu-left border rounded animated--grow-in" aria-labelledby="postOptions">
        <a class="dropdown-item d-flex align-items-center" href="/post/{{ post.id }}/edit">
            <i class="fas fa-edit fa-sm fa-fw mr-2 text-primary"></i>
            <p class="mb-0 text-content text-primary">Edit</p>
        </a>

        <form action="/post/{{ post.id }}/delete" method="post"> {% csrf_token %}
            <button type="submit" class="dropdown-item d-flex align-items-center">
                <i class="fas fa-trash-alt fa-sm fa-fw mr-2 text-danger"></i>
                <p class="mb-0 text-content text-danger">Delete</p>
            </button>
        </form>
    </div>
</div>
