{% load static %}

<div class="dropdown mr-2">
    <a 
        href="#" 
        class="btn button-magenta d-flex align-items-center justify-content-center button-medium rounded rounded-pill px-3" 
        data-url="{% url 'denuncia:criar_denuncia' app_label='posts' model_name='post' object_id=post.id %}" 
        data-object-id="{{ post.id }}">
        
        <i class="fas fa-flag fa-sm fa-fw text-white"></i>
        <p class="mb-0 ml-2 text-tertiary text-white font-weight-bold">Report</p>
    </a>

    <div class="dropdown-menu form-denuncia p-3 animated--grow-in" id="form-denuncia-{{ post.id }}" style="min-width: 300px; display: none;">
        <div class="text-center text-muted">Loading...</div>
    </div>
</div>