{% load static %}

<div class="dropdown mr-2">
    <a 
        class="btn button-magenta d-flex align-items-center justify-content-center button-small-circle rounded rounded-pill p-0" 
        data-url="{% url 'denuncia:criar_denuncia' app_label='posts' model_name='post' object_id=post.id %}" 
        data-object-id="{{ post.id }}">
        
        <i class="fas fa-flag fa-sm fa-fw text-tertiary"></i>
    </a>

    <div class="dropdown-menu form-denuncia p-3 animated--grow-in" id="form-denuncia-{{ post.id }}" style="min-width: 300px; display: none;">
        <div class="text-center text-muted">Loading...</div>
    </div>
</div>