{% extends '_base.html' %}

{% load static %}

{% block content %}

<h1>{% if community.id %}Edit{% else %}Create{% endif %} your community!</h1>

<form method="POST" enctype="multipart/form-data" id="rich-text-form"> {% csrf_token %}
    <label for="name">Community name:</label>
    <input type="text" name="name" value="{{ community.name }}"><br>
        
    <label for="display_name">Display name:</label>
    <input type="text" name="display_name" value="{{ community.display_name }}"><br>

    <label for="community_tag">Community tag:</label>
    <select name="community_tag">
        <option value="languages" {% if post.tag == 'languages' %} selected {% endif %}>Languages</option>
        <option value="math" {% if post.tag == 'math' %} selected {% endif %}>Math</option>
        <option value="chemestry" {% if post.tag == 'chemestry' %} selected {% endif %}>Chemestry</option>
        <option value="science" {% if post.tag == 'science' %} selected {% endif %}>Science</option>
        <option value="physics" {% if post.tag == 'physics' %} selected {% endif %}>Physics</option>
        <option value="history" {% if post.tag == 'history' %} selected {% endif %}>History</option>
        <option value="coding" {% if post.tag == 'coding' %} selected {% endif %}>Coding</option>
    </select><br>


    <label>Context:</label>
    <div id="rich-text-loader">{{ community.context|safe }}</div>
    <input id="container" name="context" type="hidden"><br>
    
    <label for="community_picture">Community picture:</label>
    <input type="file" name="community_picture" value="{{ community.community_picture.url }}"><br>
    
    <label for="community_banner">Community banner:</label>
    <input type="file" name="community_banner" value="{{ community.community_banner.url }}"><br>
    
    <button type="submit">{% if community.id %}Update{% else %}Create{% endif %}</button>

</form>

{% endblock content %}
