{% extends '_base.html' %}

{% load static %}

{% block content %}

<h1>
    
    {% if community.id %}

        Edit

    {% else %}

        Create

    {% endif %} your community!

</h1>

<form method="POST" enctype="multipart/form-data" id="rich-text-form"> {% csrf_token %}
    <label for="name">Community name:</label>
    <input type="text" name="name" value="{{ community.name }}"><br>
        
    <label for="display_name">Display name:</label>
    <input type="text" name="display_name" value="{{ community.display_name }}"><br>

    <label>Context:</label>
    <div id="rich-text-loader">{{ community.context|safe }}</div>
    <input id="container" name="context" type="hidden"><br>
    
    <label for="community_picture">Community picture:</label>
    <input type="file" name="community_picture"><br>
    
    <label for="community_banner">Community banner:</label>
    <input type="file" name="community_banner"><br>
    
    <button type="submit">{% if community.id %}Update{% else %}Create{% endif %}</button>

</form>

{% endblock content %}
