{% load static %}

<div class="card my-2">
    <img class="card-img-top border-bottom info-banner" src="{% static 'img/gradient-02.jpg' %}">

    <div class="col p-3">
        <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
                <img 
                    src="{% static 'img/gradient-01.jpg' %}" 
                    class="rounded-circle border circle-picture">

                <div class="ml-2">
                    <p class="font-weight-bold mb-0 text-subtitle">
                        <a href="/community/page/{{ community.id }}" class="text-decoration-none">
                            {{ community.name }}
                        </a>
                    </p>

                    <p class="text-muted mb-0 text-content">
                        @{{ community.name }}
                    </p>
                </div>
            </div>

            {% include "buttons/join.html" %}
        </div>

        <div class="my-3">
            <p class="text-justify text-dark">{{ community.description }}</p>
        </div>

        <hr class="sidebar-divider">

        <div class="d-flex align-items-center justify-content-between">
            <p class="mb-0 text-content">
                <i class="fas fa-fw fa-users"></i>
                <span class="ml-1" id="members-count-{{ community.id }}">{{ community.members.count }}</span> members
            </p>

            <a href="" class="btn btn-dark d-flex align-items-center justify-content-center border rounded px-3">
                <span class="font-weight-bold text-tertiary">{{ community.tag }}</span>
            </a>
        </div>
    </div>
</div>