{% extends '_base.html' %}

{% block content %}

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>DESCRIPTION</th>
            <th>TAG</th>
            <th>CREATED</th>
            <th>CREATOR</th>
            <th>JOIN</th>
            <th>EDIT</th>
            <th>DELETE</th>
        </tr>
    </thead>
    <tbody>

        {% for community in communities %}

        <tr>
            <td>#{{community.id}}</td>
            <td>{{community.name}}</td>
            <td>{{community.description}}</td>
            <td>{{community.tag}}</td>
            <td>{{community.created}}</td>
            <td>{{community.get_creator}}</td>
            <td>
                <form method="post" action="{% url 'join' %}"> {% csrf_token %}
                    <input type="hidden" name="community_id" value="{{ community.id }}">
                    <button type="submit">Join</button>
                </form>
            </td>
            </td>
            <td>
                <a href="/community/edit/{{community.id}}">
                    Edit
                </a>
            </td>
            <td>
                <a href="/community/delete/{{community.id}}">
                    Delete
                </a>
            </td>
          <td>
    <div class="dropdown position-relative">
        <!-- Botão/ícone -->
        <a href="#" class="abrir-denuncia nav-link"
           data-url="{% url 'denuncia:criar_denuncia' app_label='communities' model_name='community' object_id=community.id %}"
           data-object-id="{{ community.id }}">
            <i class="fas fa-flag"></i>
        </a>

        <!-- Dropdown (conteúdo será injetado via AJAX) -->
        <div class="dropdown-menu dropdown-menu-end shadow-sm form-denuncia p-3"
             id="form-denuncia-{{ community.id }}"
             style="min-width: 300px; min-height: auto; display: none;">
            <div class="text-center text-muted">Carregando...</div>
        </div>
    </div>
</td>




        </tr>

        {% endfor %}

    </tbody>
</table>


<a href="/community/create/">Create</a>

{% endblock content %}