{% extends '_base.html' %}

{% block content %}

<div class="container">
    <div class="row" style="position: relative;">
        <div class="col">
            <div class="card d-flex" style="height: 170px; overflow: hidden; position: relative;">
                <img 
                    src="https://img.freepik.com/vetores-gratis/gradiente-desfocado-rosa-azul-fundo-abstrato_53876-117324.jpg?semt=ais_hybrid&w=740&q=80" 
                    class="img-fluid rounded">

                <div style="position: absolute; top: 10px; right: 10px;">
                    <a href="#" class="btn btn-light d-flex align-items-center justify-content-center border" 
                        style="height: 30px; width: 30px; ">
                        <i class="fas fa-fw fa-pen"></i>
                    </a>
                </div>
            </div>

            <div class="d-flex align-items-end justify-content-between" 
                style="position: absolute; top: 100px; left: 30px; right: 30px;">

                <div class="d-flex align-items-end">
                    <img 
                        class="rounded-circle border" 
                        src="https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm0yMThiYXRjaDQtbmluZy0zNC5qcGc.jpg" 
                        style="height: 140px; width: 140px;">
                        
                    <div class="ms-3 ml-3">
                        <h2 class="font-weight-bold mb-0">{{community.name}}</h2>
                        <span class="text-muted">@{{community.name}}</span>
                    </div>
                </div>

                <div class="d-flex">
                    <a href="/post/create/" 
                        class="btn btn-light d-flex align-items-center justify-content-center border rounded-pill px-3"
                        style="height: 40px;">

                        <span class="font-weight-bold">
                            <i class="fas fa-fw fa-plus"></i>
                                Add Post
                        </span>
                    </a>

                    <form method="post" action="{% url 'join' %}"> {% csrf_token %}
                        <input type="hidden" name="community_id" value="{{ community.id }}">
                        <button type="submit" 
                                class="btn btn-primary d-flex align-items-center justify-content-center border rounded-pill ml-2 px-3"
                                style="height: 40px;">

                            <span class="font-weight-bold">Join</span>
                        </button>
                    </form>

                    <a href="#" 
                        class="btn btn-light d-flex align-items-center justify-content-center border rounded-circle ml-2"
                        style="height: 40px; width: 40px;">

                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                                <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
                            </svg>
                        </span>
                    </a>
                </div>
            </div>

            <div class="row" style="margin-top: 100px;">
                <div class="col-8">
                    <a href="#" 
                        class="btn btn-outline-secondary d-flex align-items-center justify-content-center border rounded-pill px-3"
                        style="height: 40px;">

                        <span>
                            <i class="fas fa-fw fa-filter"></i> Filter
                        </span>
                    </a>
                    
                    <hr class="sidebar-divider">

                    <p class="text-muted" style="text-align: center;">No one has posted yet, be the first!</p>
                </div>

                <div class="col-4">
                    <div class="card p-3">
                        <p class="font-weight-bold">{{community.name}}</p>
                        <span>{{community.description}}</span>

                        <p class="pt-3" style="font-size: 13px;"><i class="fas fa-fw fa-calendar"></i> Created {{community.created}}</p>

                        <hr class="sidebar-divider">

                        <p class="font-weight-bold">Creator</p>
                        <span><i class="fas fa-fw fa-star"></i> {{community.get_creator}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}