{% load static %}

{% csrf_token %}

<div class="d-flex flex-column align-items-center">
    <button type="button" 
        class="btn btn-light d-flex flex-column align-items-center justify-content-center border rounded py-1 mb-1"
        data-post-id="{{ post.id }}"
        data-feedback="like"
        data-positive-feedback="{% if post.id in positive_feedbacks %}true{% else %}false{% endif %}"
        data-url-feedback="{% url 'feedback' %}"
        data-url-null="{% url 'null_feedback' %}"
        id="like-btn-{{ post.id }}">

        <i class="fas fa-caret-up {% if post.id in positive_feedbacks %}text-success{% else %}text-dark{% endif %}" style="font-size: 20px;"></i>
        <p class="mb-0 text-tertiary" id="like-count-{{ post.id }}">{{ post.get_likes }}</p>
    </button>

    <button type="button" 
        class="btn btn-light d-flex flex-column align-items-center justify-content-center border rounded py-1"
        data-post-id="{{ post.id }}"
        data-feedback="dislike"
        data-negative-feedback="{% if post.id in negative_feedbacks %}true{% else %}false{% endif %}"
        data-url-feedback="{% url 'feedback' %}"
        data-url-null="{% url 'null_feedback' %}"
        id="dislike-btn-{{ post.id }}">

        <i class="fas fa-caret-down {% if post.id in negative_feedbacks %}text-danger{% else %}text-dark{% endif %}" style="font-size: 20px;"></i>
        <p class="mb-0 text-tertiary" id="dislike-count-{{ post.id }}">{{ post.get_dislikes }}</p>
    </button>
</div>