{% if user.id != community.creator.id %}

    <button type="button"
            class="btn btn-join d-flex align-items-center justify-content-center border px-3 button-small-square {% if community.id in community_ids %}btn-danger{% else %}btn-primary{% endif %}"
            data-community-id="{{ community.id }}"
            data-joined="{% if community.id in community_ids %}true{% else %}false{% endif %}"
            data-join-url="{% url 'join' %}"
            data-unjoin-url="{% url 'unjoin' %}"
            id="join-btn-{{ community.id }}">

        <span class="font-weight-bold text-tertiary" id="join-text-{{ community.id }}">
            {% if community.id in community_ids %}Leave{% else %}Join{% endif %}
        </span>
    </button>

{% endif %}