{% load static %}

<!DOCTYPE html>

<html lang="pt-BR">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Sistema</title>

        <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

        <link rel="stylesheet" href="{% static 'css/style.css' %}">

        <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    </head>

    <body id="page-top">

        {% include '_nav.html' %}

        <div class="header-content">
        </div>

        <div id="wrapper">
            <div id="content-wrapper" class="d-flex flex-column gradient-background">
                <div id="content" class="main-content">
                    
                    {% include '_header.html' %}

                    <div class="container-fluid">

                        {% block content %}

                        {% endblock content %}
                        
                    </div>
                </div>

                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; <a href="https://github.com/pedro-castr0">pedro_castr0</a>'s team Website 2025</span>
                        </div>
                    </div>
                </footer>
            </div>

            <a class="scroll-to-top rounded" href="#page-top">
                <i class="fas fa-angle-up"></i>
            </a>
        </div>

        <script>

            const FOLLOW_URL = "{% url 'follow' %}";
            const UNFOLLOW_URL = "{% url 'unfollow' %}";
            const CSRF_TOKEN = "{{ csrf_token }}";

        </script>

        <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

        <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

        <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

        <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

        <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

        <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
        
        <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>

        <script src="{% static 'js/follow.js' %}"></script>

        <script src="{% static 'js/join.js' %}"></script>

        <script src="{% static 'js/feedback.js' %}"></script>

        <script src="{% static 'js/toggle-reply.js' %}"></script>

        <script src="{% static 'js/comment.js' %}"></script>
        
        <script src="{% static 'js/load-content.js' %}"></script>

        <script src="{% static 'js/richtext-loader.js' %}"></script>

        <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

        <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

        <script src="{% static 'js/ajax-denuncia.js' %}"></script>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <script src="{% static 'js/ajax-search.js' %}"></script>

        <script src="{% static 'js/ajax-tags.js' %}"></script>

        <script src="{% static 'js/ajax-notification.js' %}"></script>
        
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>

    </body>
</html>


