{% load static %}

<ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion" id="accordionSidebar">

<a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
    <div class="sidebar-brand-icon rotate-n-15">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-battery-low" viewBox="0 0 16 16">
            <path d="M2 6h2v4H2z"/>
            <path d="M2 4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2zm10 1a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1zm4 3a1.5 1.5 0 0 1-1.5 1.5v-3A1.5 1.5 0 0 1 16 8"/>
        </svg>
    </div>
    <div class="sidebar-brand-text mx-3">LowSys</div>
</a>

<hr class="sidebar-divider my-0">

    <li class="nav-item active">
        <a class="nav-link" href="/admin/">
            <i class="fas fa-fw fa-cogs"></i>
            <span>Django admin</span></a>
    </li>
            
    <hr class="sidebar-divider">

    <div class="sidebar-heading">
        Panel
    </div>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-database"></i>
            <span>Database</span>
        </a>

        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Tables:</h6>
                <a class="collapse-item" href="/user/list/">Users</a>
                <a class="collapse-item" href="/community/list/">Communities</a>
                <a class="collapse-item" href="/post/list/">Posts</a>
                <a class="collapse-item" href="/actions/list/">Follows</a>
                <a class="collapse-item" href="{% url 'denuncia:painel_denuncias' %}">Report panel</a>
            </div>
        </div>
    </li>
            
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-plus-square"></i>
            <span>Register</span>
        </a>

        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Options:</h6>
                <a class="collapse-item" href="/user/create/">User</a>
                <a class="collapse-item" href="/community/create/">Community</a>
                <a class="collapse-item" href="/post/create/">Post</a>
                <a class="collapse-item" href="/comment/comment/">Comment</a>
            </div>
        </div>
    </li>

    <hr class="sidebar-divider d-none d-md-block">

    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>