{% extends '_base.html' %}

{% block content %}

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>USER</th>
            <th>COMMUNITY</th>
            <th>UNJOIN</th>
        </tr>
    </thead>
    <tbody>

        {% for join in joins %}

            <tr>
                <td>#{{join.id}}</td>
                <td>{{join.get_user}}</td>
                <td>{{join.get_community}}</td>
                <td>
                    <a href="/associate/unjoin/{{join.id}}">
                        Unjoin
                    </a>
                </td>
            </tr>

        {% endfor %}

    </tbody>
</table>

{% endblock content %}