{% extends '_base.html' %}

{% block content %}

{% load static %}

<div class="container d-flex flex-column col-8 my-3">
      <div class="d-flex align-items-center mb-2">
        <img 
            src="{% if community.community_picture %}{{ community.community_picture.url }}{% else %}{% static 'img/gradient-03.jpg' %}{% endif %}" 
            class="rounded circle-picture-tiny">

        <p class="mb-0 text-tertiary ml-2 text-blurred ">
            in 

            <a href="/community/{{ community.name }}" class="font-weight-bold text-decoration-none link-lilac">

            {% if community.display_name %}

                {{ community.display_name }}

            {% else %}

                {{ community.name }}

            {% endif %}

            </a>
        </p>
    </div>
    
    <div class="card card-dark p-3">
      <form method="POST" enctype="multipart/form-data" id="rich-text-form" {% if not post.id %} action="/post/create/" {% endif %}> {% csrf_token %}
        <input name="community_id" type="hidden" value="{{ community.id }}">

        <div class="mb-3">
            <label for="title" class="form-label text-white font-weight-bold text-content">Title:</label>
            <input type="text" class="form-control input-text" id="title" name="title" value="{{ post.title }}" required>
        </div>

        <div class="mb-3">
            <label class="form-label text-white font-weight-bold text-content">Content:</label>
            <div id="rich-text-loader" class="border rounded p-2" style="min-height: 150px;">{{ post.content|safe }}</div>
            <input id="container" name="content" type="hidden">
        </div>

        <div class="mb-3">
            <label class="form-label text-white font-weight-bold text-content">Post tags:</label>
            
            <div class="d-grid flex-wrap">

                {% for tag in tags %}

                  <div class="form-check d-inline-block">
                    <input class="form-check-input tag-btn text-tertiary" type="checkbox" name="post_tag" id="tag_{{ tag.id }}" value="{{ tag.id }}" {% if post and tag in post.post_tag.all %} checked {% endif %}>
                    <label class="form-check-label text-tertiary font-weight-bold" for="tag_{{ tag.id }}">{{ tag.name }}</label>
                  </div>

                {% endfor %}

            </div>
        </div>

        <button type="submit" class="btn button-white rounded-pill button-small-square">
            <p class="text-tertiary mb-0 font-weight-bold">
                {% if post.id %}Save{% else %}Post{% endif %}
            </p>
        </button>
      </form>
    </div>

</div>


{% endblock %}
