{% extends '_base.html' %}

{% block content %}

{% load static %}

<div class="container my-5 d-flex">
  <div class="col-8">
    <div class="card p-3">
      <p class="mb-3 font-weight-bold text-title text-dark">
          {% if post.id %}Edit{% else %}Create{% endif %} your post
      </p>

      <form method="POST" enctype="multipart/form-data" id="rich-text-form" {% if not post.id %} action="/post/create/" {% endif %}> {% csrf_token %}
        <input name="community_id" type="hidden" value="{{ community.id }}">

        <div class="mb-3">
            <p class="text-muted text-content">
              In <a {% if not post.id %}

                      href="/community/{{ community.id }}/"

                    {% else %}

                      href="/community/{{ post.community.id }}/"

                    {% endif %}

                    class="font-weight-bold text-decoration-none">
              
              {% if not post.id %}

                {% if community.display_name %}

                  {{ community.display_name }}

                {% else %}

                  {{ community.name }}

                {% endif %}

              {% else %}

                {% if post.community.display_name %}

                  {{ post.community.display_name }}

                {% else %}

                  {{ post.community.name }}

                {% endif %}

              {% endif %}

            </a></p>
        </div>

        <div class="mb-3">
            <label for="title" class="form-label text-dark font-weight-bold text-content">Title:</label>
            <input type="text" class="form-control" id="title" name="title" value="{{ post.title }}" required>
        </div>

        <div class="mb-3">
            <label class="form-label text-dark font-weight-bold text-content">Content:</label>
            <div id="rich-text-loader" class="border rounded p-2" style="min-height: 150px;">{{ post.content|safe }}</div>
            <input id="container" name="content" type="hidden">
        </div>

        <div class="mb-3">
            <label class="form-label text-dark font-weight-bold text-content">Post tags:</label>
            <div class="d-flex flex-wrap">

                {% for tag in tags %}

                  <div class="form-check d-inline-block px-0">
                    <input class="form-check-input tag-btn text-tertiary" type="checkbox" name="post_tag" id="tag_{{ tag.id }}" value="{{ tag.id }}" {% if post and tag in post.post_tag.all %} checked {% endif %}>
                    <label class="form-check-label text-tertiary font-weight-bold mr-2" for="tag_{{ tag.id }}">{{ tag.name }}</label>
                  </div>

                {% endfor %}

            </div>
        </div>


        <div class="mb-3">
            <label for="file" class="text-dark font-weight-bold text-content">Attach file(s):</label>
            <input class="file-input" name="file" type="file" multiple>
        </div>

        <button type="submit" class="btn btn-success button-small-square">
            <p class="text-tertiary mb-0 font-weight-bold text-white">
                {% if post.id %}Save{% else %}Post{% endif %}
            </p>
        </button>
      </form>
    </div>
  </div>
  <div class="col-4">
    <p class="font-weight-bold mb-2 text-content">COMMUNITY INFO:</p>

    {% if not post.id %}

      {% include 'community/partials/info.html' %}

    {% else %}

      {% include 'community/partials/info.html' with community=post.community %}

    {% endif %}
    
  </div>
</div>


{% endblock %}
