{% load static %}

<div class="d-flex my-2">
    <div class="d-flex flex-column">

        {% include "buttons/feedback.html" %}
        
    </div>

    <div class="card p-3 flex-grow-1 ml-1">
        <p class="mb-2 text-tertiary">
            posted in <a href="/community/{{post.community.id}}" class="font-weight-bold text-decoration-none">{{ post.community.name }}</a>
        </p>

        <div class="d-flex justify-content-between align-items-center my-2">
            <div class="d-flex align-items-center">
                <img 
                    src="{% if post.author.profile.profile_picture %}{{ post.author.profile.profile_picture.url }}{% else %}{% static 'img/gradient-02.jpg' %}{% endif %}" 
                    class="rounded-circle border circle-picture">

                <div class="ml-2">
                    <p class="font-weight-bold mb-0 text-subtitle">
                        <a href="/user/profile/{{post.author.profile.id}}" class="text-decoration-none">
                            {{ post.author.profile.display_name }}
                        </a>
                    </p>
                    <p class="text-muted mb-0 text-content">
                        <span class="font-weight-bold">@{{ post.author.username }}</span> ∙ on {{ post.posted|date:"M d, Y" }}{% if post.edited != post.posted %}<span class="ml-1 text-tertiary">(edited)</span>{% endif %}
                    </p>
                </div>
            </div>
            
            {% if user.is_authenticated %}

                <div class="d-flex">
                    <div class="dropdown mr-2">
                        <a href="#" class="btn d-flex align-items-center justify-content-center rounded-circle p-0 button-small-circle abrir-denuncia" data-url="{% url 'denuncia:criar_denuncia' app_label='posts' model_name='post' object_id=post.id %}" data-object-id="{{ post.id }}">
                            <i class="fas fa-flag fa-sm fa-fw text-dark"></i>
                        </a>

                        <div class="dropdown-menu form-denuncia p-3 animated--grow-in" id="form-denuncia-{{ post.id }}" style="min-width: 300px; display: none;">
                            <div class="text-center text-muted">Loading...</div>
                        </div>
                    </div>

                        {% include 'post/partials/options.html' %}

                    </div>
                </div>

            {% endif %}

        <p class="font-weight-bold my-2 text-dark text-title">{{ post.title }}</p>

        <div class="d-flex align-items-center flex-wrap my-2">

            {% for tag in post.post_tag.all %}

                <a class="btn btn-secondary d-flex align-items-center justify-content-center rounded px-2 mb-0 font-weight-bold button-post-tag mr-2">
                    <span class="font-weight-bold text-tertiary">{{ tag.name }}</span>
                </a>

            {% empty %}

                <span class="text-muted">No tags</span>

            {% endfor %}

        </div>

        <div class="post-content-wrapper position-relative my-2">
            <div class="post-content">
                <div class="post-image text-justify text-dark">
                    {{ post.content|safe }}
                </div>
            </div>

            <div class="fade-overlay d-none"></div>

            <div class="see-more-btn position-absolute d-none">
                <a role="button" href="/post/{{post.id}}" class="btn btn-primary d-flex align-items-center justify-content-center button-small-square">
                    <p class="mb-0 font-weight-bold text-tertiary">View post</p>
                </a>
            </div>
        </div>

        <div class="d-flex mt-2">
            <a href="/post/{{ post.id }}" class="btn btn-light d-flex align-items-center justify-content-center border rounded button-medium">
                <i class="text-dark fas fa-fw fa-comment"></i>
                <p class="mb-0 ml-2 text-tertiary">{{ post.get_comments_count }}</p>
            </a>

            <button type="button" class="btn btn-light d-flex align-items-center justify-content-center border rounded mx-2 button-medium">
                <i class="text-dark fas fa-fw fa-link"></i>
                <p class="mb-0 ml-2 text-tertiary">Share</p>
            </button>

            <a href="/post/{{ post.id }}" class="btn btn-light d-flex align-items-center justify-content-center border rounded-circle p-0 button-medium-circle ">
                <i class="fas fa-fw fa-eye"></i>
            </a>
        </div>
    </div>
</div>
