{% load static %}

<div class="card p-3 my-2">
    <p class="mb-2 text-tertiary">posted in <a href="/community/page/{{post.community.id}}" class="font-weight-bold text-decoration-none">{{ post.community.name }}</a></p>

    <div class="col">
        <div class="row d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
                <img 
                    src="{% if post.author.profile.profile_picture %} {{ post.author.profile.profile_picture.url }} {% else %} {% static 'img/gradient-02.jpg' %} {% endif %}" 
                    class="rounded-circle border circle-picture">

                <div class="ml-2">
                    <p class="font-weight-bold mb-0 text-subtitle">
                        <a href="/user/profile/{{post.author.profile.id}}" class="text-decoration-none">
                            {{ post.author.profile.display_name }}
                        </a>
                    </p>
                    <p class="text-muted mb-0 text-content">
                        <span class="font-weight-bold">@{{ post.author.username }}</span> ∙ on {{ post.posted|date:"M d, Y" }}{% if post.edited != post.posted %}<span class="ml-1 text-tertiary">(edited)</span>{% endif %}
                    </p>
                </div>
            </div>

            <button type="button" class="btn d-flex align-items-center justify-content-center rounded-circle p-0 button-small-circle">
                <i class="fas fa-fw fa-ellipsis-v text-dark text-tertiary"></i>
            </button>
        </div>
    </div>

    <div>
        <p class="font-weight-bold my-3 text-dark text-title">{{ post.title }}</p>

        <div class="d-flex align-items-center">
            <a href="" class="btn btn-secondary d-flex align-items-center justify-content-center rounded px-2 mb-0 font-weight-bold button-post-tag">
                <span class="font-weight-bold text-tertiary">{{ post.tag }}</span>
            </a>
        </div>

        <div class="post-content-wrapper position-relative my-3">
            <div class="post-content">
                <div class="post-image text-justify">
                    {{ post.content|safe }}
                </div>
            </div>

            <div class="fade-overlay d-none"></div>

            <div class="see-more-btn position-absolute d-none">
                <a role="button" href="/post/{{post.id}}" class="btn btn-primary d-flex align-items-center justify-content-center button-small-square">
                    <i class="fas fa-fw fa-eye text-content"></i><p class="mb-0 ml-2 font-weight-bold text-tertiary">View post</p>
                </a>
            </div>
        </div>
    </div>

    <div class="d-flex">
        {% include "buttons/feedback.html" %}

        <button type="button" class="btn btn-light d-flex align-items-center justify-content-center border rounded-pill ml-2 button-medium">
            <i class="text-dark fas fa-fw fa-comment"></i>
            <p class="mb-0 ml-2 text-tertiary">{{ post.get_comments_count }}</p>
        </button>

        <button type="button" class="btn btn-light d-flex align-items-center justify-content-center border rounded-pill ml-2 button-medium">
            <i class="text-dark fas fa-fw fa-link"></i>
            <p class="mb-0 ml-2 text-tertiary">Share</p>
        </button>
    </div>
</div>