{% extends '_base.html' %}

{% block content %}

{% load static %}

<div class="container">
    <div class="row">
        <div class="col-8 d-flex" >
            <div class="d-flex flex-column">
                {% include "buttons/feedback.html" %}
            </div>

            <div class="card p-3 ml-1 flex-grow-1">
                <div class="col">
                    <div class="row d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                            <img 
                                src="{% if post.author.profile.profile_picture %} {{ post.author.profile.profile_picture.url }} {% else %} {% static 'img/gradient-02.jpg' %} {% endif %}" 
                                class="rounded-circle border circle-picture">

                            <div class="ml-2">
                                <p class="font-weight-bold mb-0 text-content">
                                    <a href="/user/profile/{{ post.author.username }}" class="text-decoration-none text-subtitle">
                                        {{ post.author.profile.display_name }}
                                    </a>
                                </p>
                                <p class="text-muted mb-0 text-content">
                                    <span class="font-weight-bold">@{{ post.author.username }}</span> ∙ on {{ post.posted|date:"M d, Y" }} {% if post.edited != post.posted %}<span class="ml-1 text-tertiary" >(edited)</span>{% endif %}
                                </p>
                            </div>
                        </div>

                        {% if post.author.id == user.id %}

                            {% include 'post/actions/options.html' %}

                        {% endif %}
                    </div>
                </div>

                <div>
                    <p class="font-weight-bold my-3 text-dark text-master">{{ post.title }}</p>

                    <div class="d-flex align-items-center flex-wrap">

                        {% for tag in post.post_tag.all %}

                            <a class="btn btn-secondary d-flex align-items-center justify-content-center rounded px-2 mb-0 font-weight-bold button-post-tag mr-2">
                                <span class="font-weight-bold text-tertiary">{{ tag.name }}</span>
                            </a>

                        {% empty %}

                            <span class="text-muted">No tags</span>

                        {% endfor %}
                        
                    </div>

                    <p class="my-3"><div class="post-image text-justify text-dark">{{ post.content|safe }}</div></p>
                </div>

                <div class="d-flex">
                    <button type="button" class="btn btn-light d-flex align-items-center justify-content-center border rounded text-tertiary button-medium" >
                        <i class="text-dark fas fa-fw fa-link"></i>

                        <p class="mb-0 ml-2 text-tertiary">Share</p>
                    </button>

                    {% if post.author.id != user.id %}

                        {% include 'post/actions/report.html' %}

                    {% endif %}
                    
                </div>

                <p class="text-dark font-weight-bold p-0 my-3 text-title">{{ post.get_comments_count }} comments</p>

                <div class="comment-box">
                    <form method="post" action="{% url 'comment' %}"> {% csrf_token %}
                        <div class="form-group mb-2">
                            <textarea 
                                name="content" class="form-control post-comment-form rounded"
                                rows="1" placeholder="What do you think about that?" required></textarea>
                        </div>

                        <input type="hidden" name="post" value="{{ post.id }}">

                        <div class="comment-actions d-none mb-2">
                            <button type="button" class="btn d-flex button-small-square btn-cancel align-items-center rounded-pill">
                                <span class="text-tertiary text-dark font-weight-bold">Cancel</span>
                            </button>

                            <button type="submit"
                                    class="btn text-dark d-flex align-items-center justify-content-center rounded-circle p-0 button-small-circle">
                                <i class="fas fa-fw fa-paper-plane text-tertiary"></i>
                            </button>
                        </div>
                    </form>
                </div>

                <div id="comments-area-{{ post.id }}">

                    {% for comment in comments %}

                        {% include "post/partials/comments.html" %}

                    {% endfor %}
                    
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="mb-3">
                <p class="font-weight-bold mb-2 text-content">COMMUNITY INFO:</p>

                {% include 'community/partials/info.html' with community=post.community %}

            </div>

            <div class="mb-3">
                <p class="font-weight-bold mb-2 text-content">AUTHOR INFO:</p>

                {% include 'user/partials/info.html' with person=post.author %}
                
            </div>
        </div>
    </div>
</div>

{% endblock content %}
