{% load static %}

<div class="card card-dark p-3 mb-4">
    <div class="d-flex">
        <img 
            src="{% if comment.author.profile.profile_picture %}{{ comment.author.profile.profile_picture.url }}{% else %}{% static 'img/gradient-03.jpg' %}{% endif %}" 
            class="rounded-circle circle-picture-tiny">

        <p class="ml-2 mb-0 text-tertiary">
            <a href="/user/profile/{{ comment.author.username }}" class="text-decoration-none font-weight-bold link-lilac">

                {% if comment.author.profile.display_name %}

                    {{ comment.author.profile.display_name }}

                {% else %}

                    {{ comment.author.username }}

                {% endif %}

            </a>
            ∙ on {{ comment.posted|timesince }}
        </p>
    </div>

    <div class="text-justify text-white my-2 text-content">{{ comment.content }}</div>

    {% if comment.parent %}

        <p class="text-blurred text-tertiary mb-2">
            replying <a href="/user/profile/{{ comment.parent.author.username }}" class="link-lilac text-decoration-none font-weight-bold">{{ comment.parent.author.profile.display_name }}</a>
        </p>

    {% endif %}

    {% include 'post/partials/cards.html' with post=comment.post %}

    {% include 'comment/actions/options.html' %}

</div>
