{% extends '_base.html' %}

{% block content %}

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>USERNAME</th>
            <th>EMAIL</th>
            <th>FOLLOW</th>
            <th>EDIT</th>
            <th>DELETE</th>
            <th>DENUNCIA</th>
        </tr>
    </thead>
    <tbody>

        {% for user in users %}

        <tr>
            <td>#{{user.id}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>
                <form method="post" action="{% url 'follow' %}"> {% csrf_token %}
                    <input type="hidden" name="followed_id" value="{{ user.id }}">
                    <button type="submit">Follow</button>
                </form>
            </td>
            <td>
                <a href="/user/edit/{{user.id}}">
                    Edit
                </a>
            </td>
            <td>
                <a href="/user/delete/{{user.id}}">
                    Delete
                </a>
            </td>

            <td>
    <div class="dropdown position-relative">
        <!-- Botão/ícone -->
        <a href="#" class="abrir-denuncia nav-link"
           data-url="{% url 'denuncia:criar_denuncia' app_label='auth' model_name='user' object_id=user.id %}"
           data-object-id="{{ user.id }}">
            <i class="fas fa-flag"></i>
        </a>

        <!-- Dropdown (conteúdo será injetado via AJAX) -->
        <div class="dropdown-menu dropdown-menu-end shadow-sm form-denuncia p-3"
             id="form-denuncia-{{ user.id }}"
             style="min-width: 300px; min-height: auto; display: none;">
            <div class="text-center text-muted">Carregando...</div>
        </div>
    </div>
</td>


        </tr>



        {% endfor %}

    </tbody>
</table>

<a href="/user/create/">
    Create
</a>

{% endblock content %}