<div class="container">
    <div class="row">
        <div class="col-8">
            <p class="font-weight-bold my-3 text-content text-white">USERS TO FOLLOW</p>
                            
            {% if users %}

                {% for person in users %}

                    {% if person.id not in following_ids and user.id != person.id %}

                        {% include 'user/partials/profiles.html' %}

                    {% endif %}

                {% endfor %}

            {% else %}

                <p class="text-muted">Nenhum usuário encontrado.</p>
                
            {% endif %}

        </div>

        <div class="col-4">
            <div class="mb-3">
                <p class="font-weight-bold mb-2 text-content">COMMUNITIES TO JOIN</p>

                {% if communities %}

                    {% for community in communities %}

                        {% if community.id not in community_ids %}

                            {% if user.id != community.creator.id %}

                                {% include 'community/partials/info.html' %}

                            {% endif %}

                        {% endif %}

                    {% endfor %}

                {% else %}

                    <p class="text-muted">Nenhuma comunidade encontrada.</p>

                {% endif %}

            </div>

            <div class="mb-3">
                <p class="font-weight-bold mb-2 text-content">USERS TO FOLLOW</p>
                
                {% if users %}

                    {% for person in users %}

                        {% if person.id not in following_ids %}

                            {% if user.id != person.id %}

                                {% include 'user/partials/profiles.html' %}

                            {% endif %}

                        {% endif %}

                    {% endfor %}

                {% else %}

                    <p class="text-muted">Nenhum usuário encontrado.</p>
                    
                {% endif %}

            </div>

            <div class="mb-3">
                <p class="font-weight-bold mb-2 text-content text-white">CURRENT TAGS ({{ tags.count }})</p>
                
                <div class="d-flex flex-wrap">
                
                    {% for tag in tags %}

                        <a href="/search/?q=&tags={{ tag.id }}" class="btn button-tag-dark-lilac d-flex align-items-center justify-content-center rounded px-2 mb-2 mr-2">
                            <span class="font-weight-bold text-tertiary">{{ tag.name }}</span>

                            <span class="ml-1 mb-0 text-tertiary text-blurred font-weight-normal">{{ tag.posts.count }}</span>
                        </a>

                    {% endfor %}

                    <a href="/admin/tags/tag/add/" class="btn button-magenta button-tiny-circle d-flex align-items-center justify-content-center rounded-circle p-0">
                        <i class="fas fa-fw fa-plus text-tiny font-weight-bold"></i>
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}